* {
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FEFDF9;
}
nav .nav-link{
    color: #000 !important;
}
.Nav {
    padding: 1vh 10vw 0 10vw;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 6;
    overflow: hidden;
}
.Nav-logo{
    font-family: 'Joti One', cursive;
    display: flex;
    float: left;
}
.Nav-bar{
    font-family: 'Inter', sans-serif;
    font-style: italic;
}
.icon-link{
    width: 20px;
    height: 20px; 
}
.nav-link-icon{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}
.Home{
    margin-top: 10vh;
    height: 80vh;
    padding: 0 10vw 1vh 10vw;
    overflow: hidden;
}
.Home-introduce{
    font-family: 'Inria Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    position: relative ;
    z-index: 4;
}
.Home-education{
    font-family: 'Inria Serif', serif;
    position: relative;
    letter-spacing: 0.2em;
    z-index: 5;
}
.Home-image{
    position: absolute;
    top: 50%;
    left: 50%;
}
.Home-image img{
    width:  50vh;
    height: auto;
}
.Home-brief{
    height: 30vh;
    position: absolute;
    top: 70vh;
    left: 80%;
    margin-left: -12%;
    font-family: 'Inria Sans', sans-serif;
}
.Home-brief span{
    font-style: italic;
    font-weight: 250;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 5%;
}
.Home-brief p{
   font-size: 0.8rem; 
}
.Work{
    background-color: #e6fff1;
}
.module-heading{
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    display: block;
    color: #04543e;
}
.container {
    display:flex;
    flex-wrap:wrap;
  }
  
.container > div {
    border: 2px #04543e dotted;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    flex: 1 1 450px;
    padding:20px;
    margin-right:30px;
    margin-top: 30px;
}
.Project-tag{
    display: flex;
    flex-wrap:wrap;
}
.Project-tag > div{
    border: #04543e 1px solid;
    border-radius: 14px;
    display: inline-flex;
    padding: 4px 10px;
    margin-right: 6px;
    margin-bottom: 4px;
    display: inline;
}
.Project-source{
    color: #000;
    text-decoration: none;
    border: #000 1px dotted;
    padding: 4px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.Project-source:hover{
    background-color: #e6fff1;
    color: #04543e;
}
.Contact{
    background-color: #e6fff1;
    padding: 8vh 0;
}
.Contact-subHeader{
    color: #09805f;
    margin-bottom: 5vh;
}
.Contact-methods{
    display: flex;
    justify-content: center;
}
.Contact-method{
    text-decoration: none;
    color: #04543e;
    padding: 5px;
}
.Contact-method:hover{
    color: #04543e;
    background-color: #daebe1;
}
.Contact-detail{
    width: 150px;
    font-size: small;
    text-align: center;
}
.Contact-icon{
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}
@media (min-width: 0px) and (max-width: 768px){
    .Home-introduce{
        top: 3vh;
        left: 1vw;
        font-size: 30px;
    }
    .Home-education{
        top: 3vh;
        left: 1vw;
        font-size: 10px;
    }
    .Nav-bar{
        font-size: 10px;
    }
    .Home-image{
        margin-left: -200px;
        margin-top: -200px;
    }
    .Home-image img{
        width: 400px;
        height: 400px;
    }
    .Contact-header{
        font-size: 20px;
    }
    .Contact-subHeader{
        font-size: 15px;
        padding-top: 1vh;
    }
}
@media (min-width: 768px) and (max-width: 1400px){
    .Home-introduce{
        top: 10vh;
        left: 2vw;
        font-size: 50px;
        line-height: 60px;
    }
    .Home-education{
        top: 10vh;
        left: 2vw;
        font-size: 15px;
    }
    .Nav-bar{
        font-size: 15px;
    }
    .Home-image{
        margin-left: -250px;
        margin-top: -250px;
    }
    .Home-image img{
        width: 500px;
        height: 500px;
    }
    .Contact-header{
        font-size: 35px;
    }
    .Contact-subHeader{ 
        font-size: 20px;
    }
}
@media (min-width: 1400px){
    .Home-introduce{
        top: 13vh;
        left: 2vw;
        font-size: 60px;
    }
    .Home-education{
        top: 13vh;
        left: 2vw;
        font-size: 18px;
    }
    .Nav-bar{
        font-size: 18px;
    }
    .Home-image{
        margin-left: -250px;
        margin-top: -250px;
    }
    .Home-image img{
        width: 500px;
        height: 500px;
    }
    .Contact-header{
        font-size: 45px;
    }
    .Contact-subHeader{ 
        font-size: 25px;
    }
}